.advantages {
  min-height: 585px;
  background-color: #f3f3f3;
  padding: 58px 0 54px 0;
  &__title {
    margin-bottom: 25px;
  }
  &__wrapper {
    display: grid;
    grid-template: repeat(4, minmax(64px, auto)) / repeat(2, 508px);
    grid-auto-rows: 64px;
    row-gap: 34px;
    column-gap: 59px;
    justify-content: center;
  }
  &__block {
    position: relative;
  }
  &__icon {
    position: absolute;
    top: 7px;
    left: -2px;
  }
  &__item {
    padding-left: 77px;
    color: $main-color;
    text-align: left;
  }
  &__subtitle {
    padding-left: 77px;
    line-height: 22px;
    text-align: left;
  }
}
